.button
    border none
    background none
    padding 0
    margin 35px 0

    &__content
        text-transform uppercase
        color #fff
        font-family Montserrat, sans-serif
        font-size 16px
        font-weight 700
        padding 10px 36px
        background-color red
        border-radius 5px
        white-space nowrap
        display inline-block
        box-sizing border-box
        border 2px solid transparent
        transition all 0.2s ease-out

        &:hover
            background-color #fff
            border 2px solid red
            color red

    &:focus
        outline none

    &__wrapper
        text-align center