.feature
    min-height 745px

    &:before
        background-image url('../img/section__feature.png')
        height 297px
        bottom 0

    &__content
        display flex
        justify-content space-between

    &__item
        width (284 / 924) * 100%

    &__icon
        font-size 28px
