introduction
    background-image linear-gradient(to bottom, #fff, rgba(120,110,142,0.1))
    min-height 570px

    &:nth-of-type(odd)
        background-color inherit

    &:before
        background-image url('../img/section__introduction.png')
        height 496px
        bottom -130px