@font-face
    font-family "KenyanCoffeeRg-Bold"
    src url("../fonts/KenyanCoffeeRg/kenyan_coffee_bd.eot?") format("eot");
    src url("../fonts/KenyanCoffeeRg/kenyan_coffee_bd.woff") format("woff"),
        url("../fonts/KenyanCoffeeRg/kenyan_coffee_bd.ttf") format("truetype"),
        url("../fonts/KenyanCoffeeRg/kenyan_coffee_bd.svg#KenyanCoffeeRg-Bold") format("svg")
    font-weight normal
    font-style normal
