.footer
    min-height 89px
    background-color $purple-dark
    font-size 14px
    color #fff
    font-family Arial, sans-serif
    display flex
    align-items center

    &__content
        display flex
        justify-content space-between
        align-items center

    &__list
        padding-left 0
        display inline-block

    &__item
        list-style-type none
        display inline-block
        margin-left 10px

    &__link
        text-decoration none
        color: #fff