.navigator
    font-family Montserrat, sans-serif
    font-weight 700
    width: (410 / 940) * 100%

    &__list
        padding-left 0
        display flex
        justify-content space-between
        align-items center

    &__item
        list-style-type none
        display inline-block

    &__link
        text-decoration none
        color #999
        font-size 13px
        text-transform uppercase

        &--active
        &:hover
            color #303941

    &__icon
        color #999
