.logo
    font-family Mistral, sans-serif
    font-size 42px
    text-decoration none
    color $purple-dark

    &__icon
        background url('../img/logo.png') no-repeat
        width 42px
        height 42px
        display inline-block
        vertical-align middle

    &__title
        vertical-align middle
